In [ ]:
continution of liat dataype:

In [1]:
my_students = ['anshuman','sekhar','amrita','jyothi','sagar','divya','rajesh','hemanth']

In [2]:
print(my_students)

['anshuman', 'sekhar', 'amrita', 'jyothi', 'sagar', 'divya', 'rajesh', 'hemanth']

In [ ]:
organising the list:

In [ ]:
two methods:
    1. sort # permanent changes
    2. sorted # temporary changes

In [4]:
print(sorted(my_students))

['amrita', 'anshuman', 'divya', 'hemanth', 'jyothi', 'rajesh', 'sagar', 'sekhar']

In [6]:
my_students.sort()

In [7]:
print(my_students)

['amrita', 'anshuman', 'divya', 'hemanth', 'jyothi', 'rajesh', 'sagar', 'sekhar']

In [ ]:
req: i waant to print the list in a reverse order

In [8]:
my_students.reverse()

In [9]:
print(my_students)

['sekhar', 'sagar', 'rajesh', 'jyothi', 'hemanth', 'divya', 'anshuman', 'amrita']

In [ ]:
req: i want to know the total counts of students

In [10]:
len(my_students)

8

In [ ]:
introduction to slicing of lists:

In [ ]:
[startvalue:stopvalue:stepcount] # last value is always exclusive

In [12]:
print(my_students[0:1])

['sekhar']

In [13]:
my_students.sort()

In [14]:
print(my_students)

['amrita', 'anshuman', 'divya', 'hemanth', 'jyothi', 'rajesh', 'sagar', 'sekhar']

In [15]:
print(my_students[2:4])

['divya', 'hemanth']

In [16]:
print(my_students[4:6])

['jyothi', 'rajesh']

In [18]:
print(my_students[1:6])

['anshuman', 'divya', 'hemanth', 'jyothi', 'rajesh']

In [ ]:
step count:

In [22]:
print(my_students[0:7:2])

['amrita', 'divya', 'jyothi', 'sagar']

In [23]:
print(my_students[0:7:4])

['amrita', 'jyothi']